BREVO_API=
JWT_EXPIRATION=
JWT_SECRET=
SPRING_PROFILES_ACTIVE=
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_SSL_ENABLED=
DB_SSL_ENABLED=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_USERNAME=
POSTGRES_PORT=
SPRING_DATASOURCE_URL=
TELEGRAM_ENABLED=
TELEGRAM_PATH=
TELEGRAM_TOKEN=
TELEGRAM_USERNAME=
TELEGRAM_WEBHOOK_URL=
OPEN_AI_ASSISTANT=
OPEN_AI_KEY=